html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header,
.check-in-section,
.campaign-section {
  flex: 0;
}

.header {
  background-color: #48a868; /* 日暮里舎人ライナーの色を反映 */
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  height: 100px;
  margin-right: 10px;
}

.header .logo span {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.check-in-section,
.campaign-section {
  padding: 15px;
}

#map {
  width: 100%;
  height: 700px;
  border: 2px solid #48a868;
  border-radius: 8px;
}

.campaign-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.campaign-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.campaign-item img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
}

.campaign-details {
  flex: 1;
}

.campaign-details h3 {
  margin: 0;
  font-size: 25px; /* 見出しのフォントサイズを大きく */
}

.campaign-details p {
  margin: 5px 0 0;
  font-size: 16px; /* サブテキストのフォントサイズを大きく */
  color: #555;
}

.campaign-menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.campaign-menu img {
  height: 25px;
  width: 25px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  border-top: 2px solid #48a868;
}

.nav-menu a {
  text-align: center;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.nav-menu img {
  display: block;
  margin: 0 auto 5px;
  height: 24px;
}
.message-section {
  margin: 20px;
  padding: 15px;
  background-color: #f9ecec;
  border: 1px solid #e89b9b;
  border-radius: 5px;
  text-align: center;
  color: #b44;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .message-section p {
    font-size: 14px;
  }
}
