html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* スクロールバーを隠す */
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(72, 168, 104, 0.8); /* 半透明の背景 */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10; /* ヘッダーが地図の上に表示されるように */
  width: 50%; /* 横幅の50%を占める */
  max-width: 300px; /* 最大幅を指定 */
}

.header .logo span {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center; /* ロゴを中央揃え */
}

/* スマホ画面での調整 */
@media screen and (max-width: 600px) {
  .header {
    width: 80%; /* 横幅の80%を占める */
    max-width: none; /* スマホでは最大幅の制限を解除 */
  }

  .header .logo span {
    font-size: 28px; /* スマホでさらに大きく表示 */
  }
}
/* 初期状態で非表示 */
.hidden {
  transform: translateY(100%); /* 画面の下に配置 */
  transition: transform 0.3s ease-out; /* スライドアップのアニメーション */
  opacity: 0; /* 表示を隠す */
  pointer-events: none; /* 要素が隠れている場合、クリックなどの操作を無効にする */
}

/* 表示状態でスライドアップ */
.slide-up {
  transform: translateY(0); /* 元の位置にスライドアップ */
  transition: transform 0.3s ease-out;
  opacity: 1;
  pointer-events: all; /* 要素が表示されている場合、クリックなどの操作を有効にする */
}

/* キャンペーンセクションの基本スタイル */
.campaign-section,
.message-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
